@charset "utf-8";
/*------------------------------------RESET CSS-------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img, a {
	border:none;
	outline:none;
	text-decoration:none;
	vertical-align:middle;
}
a {
	
}
ul, ol {
	list-style:none;
	padding:0;
	margin:0;
}
a:hover {
	text-decoration:none;
}
input, fieldset {
	border:none;
}
.clear {
	height:0;
	line-height:0;
	display:block;
	clear:both;
}
/*------------------------------------/RESET CSS-------------------------------*/

body {
	/*color: #F2F2F2;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.wrapper {
        border-top: 6px solid #303C63;
	width:920px;
	border-top:6px solid #303c63;
	margin:0 auto;
}
.header {
	padding:15px 0px 0;
	height:115px;
}
.logo {
	float:left;
	display:block;
	margin:10px 0 0;
}
.header ul {
	float:right;
	display:block;
	clear:right;
}
.header ul li {
	float:left;
	display:block;
	margin:0 5px 0 0;
	line-height:23px;
}
.header ul li.search {
	width:200px;
	height:28px;
	margin:0 0 0 15px;
	background:#303C63;
}
.search input[type="text"] {
	width:150px;
	height:20px;
	line-height:12px;
	border:none;
	margin:4px 7px 0 6px;
	padding:0 0 0 5px;
	font-size:12px;
	color: #1A1A1A;
	}
.search input[type="submit"] {
	width:18px;
	height:18px;
        display: inline-block;
	border:none;
	background:none;
	cursor:pointer;
	background:url(images/search-btn.png) no-repeat center ;
}

.header ul.textResize {
	float:right;
	margin:50px 0 0 0;	
}
.header ul.textResize li{ float:left; display:block;}
.header ul.textResize li a{ font-size:12px; color:#74757C; text-transform:uppercase;}
.header ul.textResize li a.medium{font-size:15px;}
.header ul.textResize li a.large{font-size:18px;}
.navi {
	padding:0 45px 0;
	height:36px;
	background:#303c63;
}
#main-slide {
	width:100%;
	height:285px;
	margin:2px 0;
	position:relative; /*z-index:-1;*/
}
.slide-con1 {
	width:100%;
	height:285px;
	position:relative;
	overflow:hidden;
}
#slide {
	z-index: -1;
}
.slide-nav {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 105px;
	z-index:9999;
}
.slide-nav ul { padding:5px 0 5px 25px; overflow:hidden; background:url(images/control-bg.png) repeat-x left center;}
.slide-nav ul li {
    float: left;
    margin:0 0 0 10px;
}
.slide-nav ul li a{background-image: url(images/control-nav.png);}
#next_button a {
    background-position: right center;
    cursor: pointer;
    display: block;
    height: 14px;
    width: 14px;
}

#prev_button a {
    background-position: left center;
    cursor: pointer;
    display: block;
    height: 14px;
    width: 14px;
}

.mid-block {
	background:#6880a3;
	padding:5px 0 10px;
}
.news-block {
	padding:10px 35px;
	background:#303c63;
	overflow:hidden;
}
.share h3{ font-size:15px; text-transform:uppercase; font-weight:400; float:left; padding:7px 0 0;}
.share ul{ float:right;}
.share ul li{ float:left; display:block; margin:0 0 0 10px;}
.news-block .newsHolder {
	float:left;
	width:400px;
	margin:0 30px 0 0;
}
.newsHolder p{ text-align:justify; margin:10px 0 0;}
.round-block {
	float:right;
	width:420px;
	margin:15px 0 0;
}
.round-t {
	background:url(images/round-top.png) no-repeat center top;
	height: 12px;
}
.newsSlider {
	position:relative;
}
.round-b {
	background:url(images/round-bottom.png) no-repeat center top;
	height: 12px;
}
.min-prev {
	height: 130px;
	left: 0px;
	top:0;
	position: absolute;
	width: 16px;
	background:#f2f2f2;
}
.min-next {
	float: right;
	height: 130px;
	position: absolute;
	right: 0px;
	width: 16px;
	top:0;
	background:#f2f2f2;
}
.news-con {
	width: 388px;
	height: 126px;
	position: relative;
	margin: 0 auto;
	background:#f2f2f2;
	color:#74757C;
}
.news-con .left-block{width:148px; float:left; margin:0 12px;}
.news-con .right-block{width:210px; float:left; padding:15px 0 0;}
.news-con  h3{ font-size:12px; line-height:14px; font-weight:400; padding:0 0 5px; color:#1A1A1A;}
.news-con p{ font-size:11px; margin:10px 0 0;}
/*.news-con p a{color:#595959;}*/
.news-con .wrap {
	width: 100%;
	overflow: hidden;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.news-con .wrap ul {
	width: 99999px;
	list-style: none;
	position: absolute;
	top: -4px;
	left: 0;
	margin: 0;
}
.news-con ul li {
	display: block;
	float: left;
	padding: 2px 0;
	height: 100%;
	width: 384px;
	margin: 0;
}

/*--Added by khairul for read more link*/
p a{
    color: #0066CC;
}
p a:hover {
    color:#FF9900;
}

.news-con img{float:left;}
.feature-block{ margin:2px 0; padding:20px 35px 20px 15px; background:#c4d1e0; overflow:hidden;}
.feature-block ul{ float:left; padding:0 7px 0 0;}
.feature-block ul li{ float:left; border:3px solid #fff; padding:5px; margin:0 0 0 18px; }
.feature-block .newsletter{ width:150px; padding:0 0 0 10px; float:left;}
.donateBtn{ padding:0 0 10px;border-bottom:1px solid #fff;}
.signup-form{ padding:8px 0 0;}
.signup-form h3{ font-size:12px; font-weight:400; padding:0 0 5px; color:#1A1A1A; }
.signup-form input.txt-field{ width:140px; height:17px; line-height:17px;color: #9FA6B9; font-size:11px; padding:0 5px; margin:0 0 5px; border:none;}
.program-block{ margin:2px 0; padding:0 0 0 14px; background:#ABB5C7; border-top:10px solid #6880a3; overflow:hidden;}
.blockRptr{ width:140px; float:left; padding:15px 15px 0 22px ; border-right:1px solid #fff;}
.blockRptr img{ border:1px solid #fff;}
.blockRptr h3{ font-size:12px; margin:15px 0 10px; color:#1A1A1A; font-weight: bold;}
.blockRptr p{ margin:10px 0 0; font-size:12px;}
.blockRptr p a{}
.blockRptr p.text-gray{color:#595959;}
.program-block .noBorder{border-right:none;}
.footer{ padding:10px 35px; font-size:12px; overflow:hidden;}
.footer .copyright{ float:left;color:#32323b}
.footer ul{ float: right;}
.footer ul li{ float:left; display:block; margin:0 0 0 5px;}
.footer ul li a{ font-size:12px; color:#32323b;}