/* ---------------------- COMMON UTILITY CLASSES ----------------------  */
html { overflow: -moz-scrollbars-vertical; }
html { overflow-x: auto; }

.left           { display: block; float: left;}
.right          { display: block; float: right;}
.invisible      { display: none;}
.padded         { padding: 10px;}
.specias        { margin: 10px;}
.padded-clear   { clear: both; padding: 5px 0px}
.clear          { clear: both; height: 0px; line-height: 0px}

/* common tags */
h1{padding-bottom: 5px;color:#439EA3;font-size:16px;overflow:hidden}
h1#logo a{padding: 100px 300px 0pt 0pt; display: block; text-indent: 0px ! important;}

h2 {
    font-size:24px;
    font-weight:normal;
    margin:15px 0;
}
h3{
    color:#439EA3;
    font-size:14px;
    margin:5px 0 5px;
    padding-bottom:10px;
}

span.small{
    font-size:10px;
    color: #999;
}
p{
    text-align: justify;
    line-height: 25px;
    margin-bottom: 10px;
    color: #666666;
}

/* text formatting */
a{
    color: #aaaaee;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

a.read-more{
    display: block;
    text-align: right;
    color: #999999;
    text-decoration: underline;
    font-size: 85%;
}
.small{
    font-size: 85%;
    color: #dddddd;
}

/* Input fields*/
.input-text{
    border: 1px solid #ddddff;
    height: 20px;
    color: #999999;
}

/* Table
-----------------------------------*/

table.generic, table.wide {
    border-collapse:collapse;
    border-color:#D9D9D9;
    border-style:solid;
    border-width:1px 0pt;
    clear:both;
    /*margin:0pt 0pt 15px;*/
}

table.generic td, table.wide td {
    padding:3px 5px;
    border:1px solid #CCC;
    text-align:center;
}

table.generic td td, table.wide td td {border:none;}

table.generic th, table.wide th {
    height:20px;
    background:#EEE;
    line-height:24px;
    color:#333;
    padding:0 5px;
    text-align:center;
    border:1px solid #CCC;
    border-width:0 1px 1px;
}


table.generic th[scope=row], table.wide th[scope=row] { background:none; padding:3px 5px; color:#333; font-weight:bold; }
table.generic br[clear=all], table.wide br[clear=all] { display:none; }


table.generic tr.alternate, table.generic li.alternate, table.wide tr.alternate, table.wide li.alternate {
    background:#E0E2F3;
}


table.wide {
    /*margin-left: 10px;*/
    width: 99%;
}


.wide {
    width: 100%;
}


.wide td, .wide th {
    padding: 5px 6px;
}

/* Custom
----------------------------------*/
.ui-widget-header{background-color:#91BDDE;}
.pad10{padding:10px !important;}
.pad5{padding:5px}
.grid_15{width:915px !important;}

#flash_msg_cont{ margin:5px 10px; }
#flash_msg_cont p{ padding:7px;	margin:0px;}
#flash_msg_cont a{	color:#9B1F02;}

#flash_msg_cont_front{ margin:15px 0 0; }
#flash_msg_cont_front p{ padding:7px;	margin:0px; color:green;}
#flash_msg_cont_front a{ color:#9B1F02;}

.album{border:1px solid #CCCCCC; float:left; margin-bottom:20px; margin-right:45px; padding:10px; width:150px;}
.thumb{height:140px;width:145px}
.float{float:left}
.picture-thumb{border:1px solid #ccc;padding:5px;margin-right:10px;margin-bottom:10px}
.center{text-align:center}
.bold{font-weight: bold;}
table.update tr{border-bottom:1px solid #ccc}
table.update tr td{vertical-align:middle !important;padding:10px 0}
.margin-left{margin:0 0 0 40px !important;}
.block{display:block}
.cover-label{vertical-align:super;font-size:82%;}
.del_album{position:absolute;margin-left:133px}
.del_photo{position:absolute;margin-left:110px;margin-top:5px}
.error{color:red}
.center{text-align:left !important}
#util ul li.active a{font-weight:bold;text-decoration:underline}
.float-left{float:left}
.float-right{float:right}
div#page-banner a, div#page-banner{color:#ffffff !important;}
ol#download{list-style-position:inside}
ol#download li{
	background:#F2F5FA none repeat scroll 0 0;
	border:5px solid #91BDDE;
	float:left;
	margin:10px 20px 0 0;
	min-width:175px;
	padding:5px 10px;
}
