body{
    background-color: #F5F5F5;
    width : 960px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

#wrapper,
#footer{
    margin: 0 auto;
    @width : 960px;
    clear: both;
    text-align: left;
}

#wrapper{
    background: #ffffff url(../images/bg2.gif) repeat-y scroll center center;
    padding: 15px 42px 30px;
}

#header{
    height: 115px;
    clear: both;
}

h1#logo {
    height: 85px;
    width: 300px;
    float: left;
    background: transparent url('../images/logo.png') no-repeat;
    text-indent: -9999px;
}

/* Utility links styles */
#util{
    float: right;
    width: 500px;
    text-align: right;
    margin-top: 10px;
}

#util li{
    display: inline;
}
#util ul{
    margin-top: 20px;
}
#util ul li{
    font-size: 90%;
    color: #cccccc;
}
#util ul li span.selected{
    color: #aaaadd;
}
#util ul li a{
    color: #666666;
    text-decoration: none;
}


/* Navigation styles */
ul#navigation{
    height: 28px;
    clear: both;
    background-color: #3b9dff;
    list-style: none;
    padding-left: 3px;
}

ul#navigation li a{
    padding: 5px 7px;
    line-height: 28px;
    @line-height: 18px;
    color: white;
    text-decoration: none;
	height: 100%;
}

ul#navigation li.active a,
ul#navigation li a:hover{
    color: #f3fb9e;
    text-decoration: none;
    /*background-color: #3b7cdd;*/
}

ul#navigation li ul.sub-nav{
    opacity: .8;
	filter:alpha(opacity=80);
    width: 180px;
    background-color: #3B7CDD;
}

ul#navigation li ul.sub-nav li a{
    display: block;
    background-color: transparent;
    height: 15px;
    line-height: 15px;
}
ul#navigation li ul.sub-nav li a:hover{
    background-color: #3B7Caa;
}

#search .input-text{
    height: 16px;
    width: 190px;
}

#search .input-button{
    height: 20px;
    width: 34px;
    overflow: hidden;
    background: transparent url('../images/search.png') no-repeat;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    @padding-top: 20px;  /* To hide the text in IE */
}



#banner{
    height: 290px;
    padding: 12px 0px 12px 15px;
    margin: 10px 0 15px;
    background-color: #f5fee3;
    border: 1px solid #f3f9e0;
}

#main-photo{
    float: left;
    width: 590px;
    height: 290px;
    overflow: hidden;
    position: relative;
}

#main-photo span{
    display: block;
    position: absolute;
    bottom : 1px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 110%;
    opacity: 0.7;
    filter:alpha(opacity=60);
}

#banner .banner-thumb{
    border:3px solid #DDDDEE;
    width:115px;
    height:85px;
    margin:0 3px 8px;
    cursor: pointer;
}
#banner .red{border-color: red}
#banner .green{border-color: green}
#banner .blue{border-color: blue}
#banner .yellow{border-color: yellow}
#banner .brown{border-color: olive}
#banner .pink{border-color: fuchsia}

#page-banner{
    height: 98px;
    width: 875px;
    overflow: hidden;
    margin: 5px 0 10px;
    text-indent: 10px;
    padding: 0px;
}

#page-banner .sidebar-right,
#page-banner .sidebar-right img{
    height: 98px;
    width: 229px;
    float: right;
}

span#breadcrumb{
    font-size: 85%;
    line-height: 24px;
}

span#breadcrumb a{
    text-decoration: underline;
}

#page-banner.green,
#page-banner.green a{
    background-color: #8cc63f;
    color: white;
}

#body-home div.content,
#body-inner div.content{
    float: left;
    width: 584px;
    padding: 0 3px;
}

#body-inner div.content{
    float: right;
    width: 660px;
    @width: 635px;
}

#body-inner div#page-banner div.content {
    float: left;
    margin-top: 3px;
    width: 630px;
    @width: 635px;
}


.sidebar-right,
.sidebar-left {
    float: left;
    width: 272px;
    margin-left: 14px;
}

.sidebar-left{
    margin: 0 5px 0 0 !important;
}

div#body-home div.sidebar-right {
    float: right;
}

.sidebar-image{
    margin: 0 0 7px !important;
}

#body-inner .sidebar-right,
#body-inner .sidebar-left {
    width: 200px;
}

span.section-title{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #08788e;
    margin-bottom: 15px;
}
ul#sub-pages{
    border-top:1px solid #625E51;
    background-color:#F5F5F5;
}
ul#sub-pages li{
    list-style: circle;
    list-style-position:inside;
    padding:10px 0 10px 10px;
}
ul#sub-pages li,
ul#sub-pages li a{
    color: #999999;
}
ul#sub-pages li{
    border-bottom:1px solid #625E51;
}

ul#sub-pages li.current,
ul#sub-pages li.current a{
    font-weight: bold;
    color: #08788e;
}


#news{
    padding: 10px;
    background-color: #d4f3f8;
    border-bottom: 15px solid #45cbe4;
    font-size: 85%;
    line-height:16px;
    margin-bottom: 20px;
}

#news .news-post {
    margin-bottom: 0;
}

#news .news-post img{
    width: 100px;
    height:80px;
    float: left;
    padding: 0 10px 5px 0;
}

#news .news-post a{
    color:#439ea3;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

#news .news-post p {
    margin-bottom: 0;
}

#news .news-post span{
    display: block;
    margin-top: 5px;
    color: #777777;
}

#events{
    margin-top: 10px;
}

#events .event-post{
    height:75px; /* same as event thumb image */
    margin-bottom:10px;
    clear: both;
}

#events .event-post img{
    width: 70px;
    height:50px;
    float: left;
    padding: 0 10px 0 0;
}

#events .event-post span{
    display: block;
    font-size: 85%;
    color: #777777;
}

#footer{
    padding: 20px 0 40px;
    margin: -3px 13px;
    background: transparent url('../images/footer-top.gif') repeat-x;
    @width: 935px;
}
#footer .small{
    color: #aaaaaa;
}

#footer span{
    display: block;
    float:left;
    width: 25%;
}

#footer span#copyright{
    width: 50%;
    @width: 49%;
    text-align: center;
}

#footer span#powered-by{
    text-align: right;
}
#footer span#powered-by img{
    vertical-align: top;
    opacity: .5;
    filter:alpha(opacity=50);
}

/* Sidebar Navigation
 * --------------------------------------------------------- */

#sidebar_nav {
	float: left;
	width: 188px;
	margin: 0 5px 15px 0;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#sidebar_nav li a {
	display: block;
	height: 30px;
	line-height: 32px;
	padding: 0 0 0 10px;
	background: url(../images/background-sidebar_nav.gif) no-repeat 0px 0px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	color: #404040;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	text-shadow: #fff 0px 1px 1px;
    text-decoration: none;
}

#sidebar_nav li a:hover {
	background-position: 0px -30px;
	border-color: #2c9efc;
	color: #fff;
	text-shadow: #145690 0px 1px 1px;
}

#sidebar_nav li a.current {
	background-position: 0px -60px;
	border-color: #404040;
	color: #fff;
	text-shadow: #000 0px 1px 1px;
}

div.sidebar-section h4 {
    color: #666;
    margin-bottom: 10px;
}