@charset "utf-8";

/*---DEFAULT--*/

    * {margin: 0px; padding: 0px;}

    * html li {vertical-align: bottom;}

    * html img {vertical-align: middle;}

    * html input {vertical-align: middle;}

    body {font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 11px; color: #333333; text-align: center; text-decoration: none;}
    body#tinymce {
        text-align: left;
    }
    input {border: 0px;}
    form{ margin:0px; padding:0px;}

    img {border: 0px;}

    ul {padding: 0px; margin: 0px;}

    li {padding: 0px; margin: 0px; list-style: none;}

    * html li {vertical-align: bottom;}

    a {color:#575757; text-decoration: none;}

    a:hover {color: #1d71ad; text-decoration: none;}

    p {margin: 0px; padding: 0px; color:#333; line-height:1.5em; letter-spacing:.02em; margin-bottom:10px;}

    .clear {clear: both; height:0px; display:block; font-size:0px;}

    .left {float: left;}

    .right {float: right;}


/*---- TYPO ----*/
h1,h2,h3,h4,h5,h6{ padding:0px; margin:0px;}

h4{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:11px;}



/*--- LAYOUT --*/

#wrapper{ width:920px; margin:auto; text-align: left; border:#333333 0px solid;}
#header{margin:0 auto 0 auto;}
#branding{ clear:both; height:100px; border:#333333 0px solid;}
        .logo{ width:153px; height:64px; padding-top:10px;}
        .header-left{ width:450px; float:left;}
        .header-right{ width:440px; float: right;}
                .search-box{ width:213px; float:right; padding-top:10px; padding-bottom:30px;}
                .search-box li{ float:left;}
                .search-textbox{ width:175px; height:18px; margin-top:0px; padding-top:3px; padding-left:3px; background:url(images/search-box.png) no-repeat; bottom:0px; color:#959594; margin-right:0px; font-size: 11px; border: 1px solid #ccc;}
                .search-btn{ width:25px; height:22px; background: url('images/search-btn.png') no-repeat; font-size: 0px; line-height: 0px; overflow: hidden; bottom:0px; text-indent:-99999px; cursor:pointer; display: block; margin-top: 1px; margin-left: 2px;}
                .right-nav { font-size:13px; text-align:right;}


    
	/*--NAV---*/
	
	#navigation
{	margin: 0;
	padding: 0; height:30px; background:url(images/navigation-back.png) repeat-x;}

	#navigation li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial; line-height:30px;}

	#navigation li a
	{	display: block;
		white-space: nowrap;
		padding:0 10px;
		font-size:12px; color:#FFFFFF; text-align:center; font-family: Arial, Verdana, Tahoma; font-weight:bold; text-transform:uppercase; letter-spacing:.03em;
		
	color:#FFFFFF;}

	#jsddm li a:hover
	{}
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border:#7bafea 1px dotted;
			background:#FFFFFF;
			margin-left:10px;
			z-index:1000;
			
			}
		
			#jsddm li ul li
			{	float: none;
				display: inline;
				line-height:normal;
				
				
				}
			
			#jsddm li ul li a
			{	width: auto;
				background: #d9ebff;
				color: #24313C;
				line-height:normal; padding:5px 10px;
				margin:0px 0 1px 0;
				text-align:left; text-transform:none; font-weight:normal;}
			
			#jsddm li ul li a:hover
			{	background: #5faaff; }	


#container{margin-bottom:10px;}
.home{ }
.index-left{ width:475px; float:left;}
.index-left p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;}
.index-right{ width:420px; float:right;}


#main-slide{ width:650px; height:310px; float:left; border:#CCCCCC 1px solid; position:relative; @height: 300px; /*z-index:-1;*/}

.slide-con1{width:650px; height:310px; position:relative;}
.map{ height:310px; width:265px; float:left; border:#CCCCCC 1px solid;}
        #sidebar{ width:180px; margin-right:10px; float:left;}
                .section-h{ width:155px; background:#b0cfe2 url(images/section-left.png) no-repeat left top; padding: 5px 12px; color:#055f84; }
                .nav-list{width:180px;}
                .nav-list li{padding:8px 12px; background:#e4f5fd url(images/dot-li.png) repeat-x bottom left; margin:1px 1px; }
                .nav-list li a{ color:#1f76cd; font-size:12px;}
                .nav-list li a:hover{ color:#d65406;}
                .arrow{ font-size:14px; color:#024168; font-weight:bold; padding-right:3px;}
                .side-bottom{ height:7px; background:#bbe0f7 url(images/side-bottom.png) no-repeat bottom right; width:178px;}


                .bredcum{ color:#a7a6a6; margin-bottom:10px;}
                .bredcum a{ color: #0066CC;}
        #content{ padding-top:15px;}
                .post-title{ border-bottom: 3px solid #73bbe6; padding-bottom:7px; margin:15px 0 10px 0; color:#0a7bca; font-size:20px; font-weight:normal;}
                .content-subheader{ color:#084976; font-size:14px; margin-bottom:10px;}
                .list-item{ margin:10px 0; }
                .list-item li{ padding-left:20px; margin-bottom:5px; color:#555555;}

        .sidebar-two{ width:190px; float:right;}
        .side-head{ color:#dc410a; font-family:"Trebuchet MS", Arial, Verdana, Tahoma; font-size:18px; font-weight:normal; padding-top:15px; margin-bottom:5px;}
        .side-inhead{color:#dc410a; font-family:"Trebuchet MS", Arial, Verdana, Tahoma; font-size:18px; font-weight:normal; padding-bottom:5px; margin-bottom:10px; background:url(images/inhead-botom.png) no-repeat center bottom;}
        .news-list li{ padding:5px 0; background:url(images/dot.png) repeat-x left bottom;}
        .news-list li a{ color:#0066CC}
        .viewall{ float:right; padding-top:10px;} .viewall a{ color:#FF6600;}
        .vedios{ border:#eae8e8 1px solid; background:#f6f6f6; padding:10px;} .vedios p{ padding-bottom:0px; margin-bottom:0px; font-size:11px; line-height:normal;}
        .side-snipets{ padding-bottom:20px;}



        /*--Inner Page--*/

		.inner-banner-right{ height:99px; width:259px; float:right;}
		.inner-banner-left{height:99px; float:left;}
		.inner-banner{ width:920px; height:99px; margin:0px; padding: 0px;}
		.education{background:#30861e; }
		.culture{background:#f08729;}


		.p-page{ font-size:13px; color:#FFFFFF;}
		.berdcum { padding:10px; color:#FFFFFF;}
		.berdcum a{ color:#FFFFFF;}
		.berdcum a:hover{ color: #FFFFCC;}
		.page-header{ font-size:30px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; font-weight:normal; padding:0px 10px 0 10px; }
		#inner-sidebar{ width:260px; float:right;}
        #inner-sidenav{ width:258px; border:#dbdbdb 1px solid; background:#fbfbfb url(images/inner-sidebar-bk.png) repeat-x bottom;}
		#inner-sidenav ul{ padding:10px;}
		#inner-sidenav ul li{ padding:3px 0px; list-style:url(images/list-bullet.png); margin-left:20px}
		#inner-sidenav ul li a{ color:#1172d5;}
		#inner-sidenav ul li a:hover{color:#FF6600;}
			#inner-sidenav ul li ul { padding:0px; margin:0px;}
		#inner-sidenav ul li ul li{ list-style:none; margin:0 0 0 10px; padding:0px 0; border-bottom:#CCCCCC 1px  dashed; color:#34618f; border:none;  list-style-image:none;}
		#inner-sidenav ul li ul li span{ padding-right:10px; font-size:14px;}
		#inner-sidenav ul li ul li a{ color:#34618f;}
			#inner-sidenav ul li ul li ul { margin-bottom:0px;}
			#inner-sidenav ul li ul li ul li{ margin:0px 0 0 18px;; padding:0px 0; border-top:#CCCCCC 0px dashed; list-style-image:none;}
				#inner-sidenav ul li ul li ul li a{ color:#0066CC}
				#inner-sidenav ul li ul li ul li a:hover{ color:#FF6600;}

        /*-- Box Model -- */

        .round-block{ margin:0px auto 20px auto; }
        .round-t{ height:10px; background: url(images/solid-mid-t.png) bottom repeat-x;}
        .round-t div{ height:10px; background:url(images/solid-l.png) no-repeat bottom left;}
        .round-t div div{ height:10px; background:url(images/solid-r.png) no-repeat bottom right;}
        .round-b{ height:10px; background:url(images/solid-mid-b.png)  top repeat-x;}
        .round-b div{ height:10px; background: url(images/solid-b-l.png) no-repeat top left;}
        .round-b div div{ height:10px; background:url(images/solid-b-r.png) no-repeat  top right;}
        .block-conten{ border-left:#3979c1 2px solid;  border-right:#3979c1 2px solid; padding:0px; }

        .round-block-gra{margin:0px auto 20px auto; }
        .round-gra-t{ height:30px; background: url(images/gra-mid.png) bottom repeat-x;}
        .round-gra-t div{ height:30px; background:  url(images/gra-t-l.png) no-repeat top left;}
        .round-gra-t div div{ height:30px; background:url(images/gra-t-r.png)  no-repeat  top right;}
        
        div.round-block-gra div.round-gra-b{
            height: 6px;
            background-image: url(images/gra-mid-b.png);
            background-repeat:  repeat-x;
           }
           
        div.round-gra-b div{height:6px; width: 7px; background-repeat: no-repeat;}
        div.round-gra-b div.round-left{
            background-image: url(images/gra-b-l.png) !important;
            background-position: top left;
            @background-position: top 4px;
            float: left;
            
        }
        
        div.round-gra-b div.round-right{
            height:6px;
            background-image: url(images/gra-b-r.png) !important;
            background-repeat: no-repeat;
            background-position:top right;
            @background-position:top -4px;
            float: right;
        }

        div.fix div.round-left{@background-position:top 2px;}
        div.fix div.round-right{@background-position:top -2px;}
        
        .block-conten-gra{ border-left:#348be3 1px solid;  border-right:#348be3 1px solid; padding:6px 10px; }
        .round-gra-t h2{ font-size:14px; color:#FFFFFF; padding:5px 10px;}

        .min-prev{ height:110px; width:24px; float:left; position:relative; left:-2px;}
        .news-con{ width:360px; height:110px; float:left; padding:0 5px;}
        .min-next{height:110px; width:24px; float: right; position:relative; right:-2px;}
        .doc-block{ width:210px; float:left;}
        .features-block{ width:190px; float:right;}

        .doc-item{ clear: both; margin-bottom: 20px; display: block; overflow: auto;}
        .doc-item img{ float:left; margin-right:10px;}
        .doc-item h2{ font-size:11px; color: #595959; text-transform: uppercase; padding-bottom:0px;}
        .doc-item p{ line-height:110%; margin-top: 5px;}
        .news-con img{ float:left; margin-right:6px;}
        .news-con h2{ padding:0px; margin:0px;}
        .news-con h2 a{ font-size:13px; line-height:normal; }
        .news-con p{ line-height:normal;}
        .readmore {
            margin-top: 4px;
            display: block;
			padding-top:10px;
			
        }
        p .readmore{
            display:inline;
            margin-left:10px;
        }
		.readmore a{ color:#0066CC;} 
        .readmore  a:hover{ color:#FF9900;}
        .news-title {
            margin-bottom: 4px;
            display: block;
        }
		.news-title h4 { color:#000000; margin-bottom:10px;} 

        #footer{ height:60px;  background:url(images/footer-dot.png) repeat-x top left; clear:both;}
        .footer-left{ width:450px; float:left; padding-top:10px;}
        .footer-credit{ width:250px; float:left; padding-top:10px;}
        .footer-right{ width:220px; float: right; padding-top:10px; text-align:right;}


        /*- NEW -*/
        .list-item { margin:0px; padding:0px;}
        .list-item li { margin:0px; padding:0px;}
        .list-item li span{ padding-right:3px; font-size:14px; color:#0066FF;}
        .list-item li{ margin-bottom:5px;}
        .list-item li a{ color: #333333;}
        .view-all a{ color:#FF6600; float:right; }
        .publication img{ float:left; margin-right:5px;}
        .publication h2{ font-size:14px; font-weight:normal;}
        .primary-header{ font-size:20px; color:#0e72c7; font-weight:normal; margin-bottom:5px;}
        .slide-nav{position:absolute; left: 0px; bottom: 0px; width:125px; height:32px; }
        .slide-nav ul li{ background-image:url(images/pause-link.png); height:32px; width:30px; float:left;}
        .slide-text{position:absolute; top: 200px; height:75px; width:645px;} 
        .slide-headline{ font-size:30px; color:#FFFFFF; font-weight:normal; padding-left:20px; padding-top:10px; margin-bottom:0px; padding-bottom:0px;}
        .slide-tagline{ font-size:16px; color:#FFFFFF; padding-left:20px; padding-top:0px; line-height: normal;}
        
/* round slider */

.news-con                         { width: 358px; height: 110px; position: relative; margin: 0 auto; }
.news-con .wrapper                { width: 355px; overflow: hidden; height: 115px; margin: 0 5px; position: absolute; top: 0; left: 0; }
.news-con .wrapper ul             { width: 99999px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.news-con ul li                   { display: block; float: left; padding: 2px 0; height: 110px; width: 360px; margin: 0; }



/* main slider */3
#slide ul{ list-style:none; padding:0px; margin:0px;}
#slide ul li{ list-style:none; padding:0px; margin:0px;}

#slide img{
    width: 650px;
    height: 310px;
}

.fade{
	margin-bottom: 2em;
}

.fade p{
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	background: #fff;
}

.slide-nav{
    z-index: 9999;
}

.slide-nav ul li a:focus,
.slide-nav ul li a:active{
    outline: none;
}

#next_button a {
    background-image: url(images/next.png);
    cursor: pointer;
	display:block;
	height:32px;
	width:30px;
}
#next_button a:hover {
    background-image: url(images/next-hover.png);
    cursor: pointer;
	display:block;
	height:32px;
	width:30px;
}
#prev_button a{
    background-image: url(images/prev.png);
    cursor: pointer;
	display:block;
	height:32px;
	width:30px;
}
#prev_button a:hover {
    background-image: url(images/prev-hover.png);
    cursor: pointer;
	display:block;
	height:32px;
	width:30px;
}

/*-- looks like pause button --*/
.pause_button a {
    background-image: url(images/pause-link.png);
    cursor: pointer;
	height:32px;
	width:30px;
	display:block;
}
.pause_button a:hover {
    background-image: url(images/pause.png);
    cursor: pointer;
	height:32px;
	width:30px;
	display:block;
}
.paused_button a {
    background-image: url(images/play-link.png);
    cursor: pointer;
	height:32px;
	width:30px;
	display:block;
}
.paused_button a:hover {
    background-image: url(images/play-si.png);
    cursor: pointer;
	height:32px;
	width:30px;
	display:block;
}

.banner-pause-btn {
    text-indent: -10000px;
}

/* sub navigation */

.bangla-lng{ font-size:15px;}

ul#navigation li ul.sub-nav{
    opacity: .8;
	filter:alpha(opacity=80);
    width: 180px;
    background-color: #3B7CDD;
}

ul#navigation li ul.sub-nav li a{
    display: block;
    background-color: transparent;
    height: 15px;
    line-height: 15px;
}
ul#navigation li ul.sub-nav li a:hover{
    background-color: #3B7Caa;
}


        /*-- Box Model -- */

        .round-block-gray{ margin:10px auto; }
		.round-gray-t{ height:5px; background: url(images/solid-gray-mid-t.png) bottom repeat-x;}
		.round-gray-t div{ height:5px; background:url(images/solid-gray-l.png) no-repeat bottom left;}
		.round-gray-t div div{ height:5px; background:url(images/solid-gray-r.png) no-repeat bottom right;}
		.round-gray-b{ height:5px; background:url(images/solid-gray-mid-b.png)  top repeat-x;}
		.round-gray-b div{ height:5px; background: url(images/solid-gray-b-l.png) no-repeat top left;}
		.round-gray-b div div{ height:5px; background:url(images/solid-gray-b-r.png) no-repeat  top right;}
		.block-gray-conten{ border-left:#dbdbdb 1px solid;  border-right:#dbdbdb 1px solid; padding:5px 10px; background:#fbfbfb url(images/round-back.png) repeat-x bottom;}
		.story-block img{ float:left; margin-right:10px;}
		.story-block  { border-bottom:#CCCCCC 1px dashed; margin-bottom:10px; }
		.story-block h3 { font-weight: bold; font-size:13px;}
		.story-block p{ line-height:normal; color:#5187c0;}
		.story-block p a{color:#5187c0;}
		.sideheader{ font-size:20px; color:#085886; border-bottom: 1px solid #CCCCCC; font-weight:normal; padding-bottom:5px; margin-bottom:10px; text-align: center;}
		.inner-content{ width:635px; float:left; margin-left:0px;}
		.inner-content h1{ color:#215994; font-size:20px; font-weight:normal; margin-bottom:10px;}
		.content-highlight{ width:612px; background:#f3f3f3; border:#e0e0e0 1px solid; padding:10px; margin-bottom:10px;}
		.content-highlight h2 { color:#316c24; font-size:18px; font-weight:normal;}
		.content-highlight h2 a{ color:#316c24;}
		.content-highlight img{ float:left; margin-right:10px;}
		.content-highlight p{ line-height:normal; line-height:1.5em; color:#4d4d4d;}
		.inner-content h3{ color:#215994; font-weight:normal; text-transform:uppercase; font-size:18px; margin-bottom:5px;}
		.hr{ height:1px; border-bottom:1px #bababa solid; margin:10px 0;}
		.featured-main-block{ width:280px; height:150px; float:left; margin-right:30px; margin-bottom:10px;}
		.featured-main-block img{ float:left; margin-right:10px;} .featured-main-block p{ line-height:normal;}
		.featured-main-block h4{ font-size:16px; color:#026dc7; font-weight: normal; margin-bottom: 10px;}
		.featured-main-block h4 a{ color:#026dc7;}
		.featured-main-block  p{ color:#696b6d;}
		.hr-dot{ height:1px; border-bottom:1px #bababa dashed; margin:10px 0; clear:both;}
		.inner-slide-nav{ float:right;}
		.inner-slide-nav li{ width:26px; height:23px; float:left;}

		.content-doc-block{ width:190px; margin-right:20px; float:left; }
		.content-doc-block img{ border:#CCCCCC 1px solid;}
		.doc-title{ font-size:18px; padding:5px 0; color:#e75903; display:block;}
		.less20{ margin-right:0px;}
		.document-header{ width:630px; height:30px;}
		.recent-doc{ background:url(images/document-header.png) no-repeat top;}
		.recent-vdo{ background:url(images/document-header.png) no-repeat center;}
		.recent-story{ background:url(images/document-header.png) no-repeat bottom;}
		.list-title{ color:#FFFFFF; height:30px; line-height:30px; font-weight:bold; font-size:12px; margin-left:10px;}
		.viewall-list a{ color: #FFFFFF; float:right; font-weight:normal; margin-right:10px;}
		.list-wrap{ margin:10px; border-bottom:#CCCCCC 1px dashed; padding-bottom:10px;}
		.list-wrap img{ float:left; margin-right:10px; border:#CCCCCC 1px solid; }
		.list-wrap h5 a{ font-size:14px; color:#024508; font-weight:normal; margin-bottom:5px;}
		.publication-meta{ margin-bottom:5px;}
		.publication-meta span{ color:#666666;}
		.list-wrap p{ line-height:normal;}
#slide { z-index:-1;}

.image-left-align {
    float: left;
    margin-right: 10px;
}

.image-right-align {
    float: right;
    margin-left: 10px;
}
.banner-photo-left {
    border-right: 2px solid #ccc;
    float:left;
    width:638px;
}
.inner-page-banner {
    height:175px;
    margin:0;
    padding:0;
    width:920px;
}

.banner-photo-right {
    float:right;
    width:280px;
}

#search{ text-align: right !important; margin-top: 5px; }

#search .input-box{
    border: 1px solid #ccc;
}


#gallery-cat .album{ width:160px; height:160px; float:left; margin:10px 10px;}
#gallery-cat{ width:100%; overflow:hidden; margin-bottom:20px;}
#gallery-cat .album a img{ border:#a5c7ea 5px solid;}
#gallery-cat .album a:hover img{ border:#3b8ce0 5px solid;}
#gallery-cat .album p{ text-align:center;}

.gal-wrap{ background:#1E1E23; border:#789497 1px solid;}

.sub-header, .sub-header-friendship, .sub-header-health, .sub-header-edu, .sub-header-sed, .sub-header-rr, .sub-header-culture {
    display: block;
    background-color: #ccc;
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
    text-align: left; 
}

.sub-header-friendship{
    background-color:#111986 !important;
}

.sub-header-health {
    background-color: #CE392B !important;
}

.sub-header-edu {
    background-color: #2A99AB !important;
}

.sub-header-sed {
    background-color: #28A260 !important;
}

.sub-header-rr {
    background-color: #76A1D1 !important;
}

.sub-header-culture {
    background-color: #D06A14 !important;
}

/*-- site map page Model
Added by Khairul<khairul111@gmail.com>
-- */
#site-map{ width:258px;}
#site-map ul{ padding:10px;}
#site-map ul li{ padding:3px 0px; list-style:url(images/list-bullet.png); margin-left:20px}
#site-map ul li a{ color:#1172d5;}
#site-map ul li a:hover{color:#FF6600;}
#site-map ul li ul { padding:0px; margin:0px;}
#site-map ul li ul li{ list-style:none; margin:0 0 0 10px; padding:0px 0; border-bottom:#CCCCCC 1px  dashed; color:#34618f; border:none;  list-style-image:none;}
#site-map ul li ul li span{ padding-right:10px; font-size:14px;}
#site-map ul li ul li a{ color:#34618f;}
#site-map ul li ul li ul { margin-bottom:0px;}
#site-map ul li ul li ul li{ margin:0px 0 0 18px;; padding:0px 0; border-top:#CCCCCC 0px dashed; list-style-image:none;}
#site-map ul li ul li ul li a{ color:#0066CC}
#site-map ul li ul li ul li a:hover{ color:#FF6600;}

/*--News Home Page*/
div.news{
    margin-bottom:40px;
    width: 650px;
    text-align: justify;
}
div.news p{
    margin-top:7px;
}

/*--Added by khairul for read more link*/
p a{
    color: #0066CC;
}
p a:hover {
    color:#FF9900;
}